.search-bar {
  &-suggestions {
    &--container {
      display: flex;
      flex-direction: column;
      text-align: left;
      border: 1px solid #ccc;
      margin: 0;
      max-height: 240px;
      overflow: auto;
      padding: 0;
      position: relative;
      top: -1px;
      user-select: none;
    }
   
    &--item {
      cursor: pointer;
      height: 40px;
      letter-spacing: .03em;
      line-height: 40px;
      padding: 0 7px 0 10px;
      transition: background-color .4s ease-in-out;

      &:hover {
        background-color: #ccc;
      }
    }
  }
 
}
